.faucet-view {
  margin-top: 86px;
  max-width : 1128px;

  @container (width <=@phone-width) {
    margin-top: 54px;
  }

  >h1 {
    font-size    : 36px;
    margin-bottom: 42px;

    @container (width <=@phone-width) {
      font-size    : 27px;
      margin-bottom: 27px;
    }
  }
}